# DAT210x - Programming with Python for DS

## Module2 - Lab5

Import and alias Pandas:

In [69]:
import pandas as pd

As per usual, load up the specified dataset, setting appropriate header labels.

In [70]:
cen = pd.read_csv('Datasets\census.data',header=None,na_values='?')
cen = cen.drop(labels=[0],axis=1)
cen.columns = ['education', 'age', 'capital-gain', 'race', 'capital-loss', 'hours-per-week', 'sex', 'classification']
cen.head(5)

,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification
0,Bachelors,39,2174.0,White,0,40,Male,<=50K
1,Bachelors,50,NaN,White,0,13,Male,<=50K
2,HS-grad,38,NaN,White,0,40,Male,<=50K
3,11th,53,NaN,Black,0,40,Male,<=50K
4,Bachelors,28,0.0,Black,0,40,Female,<=50K

Excellent.

Now, use basic pandas commands to look through the dataset. Get a feel for it before proceeding!

Do the data-types of each column reflect the values you see when you look through the data using a text editor / spread sheet program? If you see `object` where you expect to see `int32` or `float64`, that is a good indicator that there might be a string or missing value or erroneous value in the column.

In [71]:
# capital-gain ?
cen['education'].unique()
cen.dtypes

education          object
age                 int64
capital-gain      float64
race               object
capital-loss        int64
hours-per-week      int64
sex                object
classification     object
dtype: object

Try use `your_data_frame['your_column'].unique()` or equally, `your_data_frame.your_column.unique()` to see the unique values of each column and identify the rogue values.

If you find any value that should be properly encoded to NaNs, you can convert them either using the `na_values` parameter when loading the dataframe. Or alternatively, use one of the other methods discussed in the reading.

In [72]:
cen.head(5)

,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification
0,Bachelors,39,2174.0,White,0,40,Male,<=50K
1,Bachelors,50,NaN,White,0,13,Male,<=50K
2,HS-grad,38,NaN,White,0,40,Male,<=50K
3,11th,53,NaN,Black,0,40,Male,<=50K
4,Bachelors,28,0.0,Black,0,40,Female,<=50K

Look through your data and identify any potential categorical features. Ensure you properly encode any ordinal and nominal types using the methods discussed in the chapter.

Be careful! Some features can be represented as either categorical or continuous (numerical). If you ever get confused, think to yourself what makes more sense generally---to represent such features with a continuous numeric type... or a series of categories?

In [73]:
cls = ['<=50K','>50K']
cen['classification'] = cen.classification.astype("category",categories=cls).cat.codes

In [74]:
cen.education.unique()
edu = ['Preschool',
       '1st-4th',
       '5th-6th',
       '7th-8th',
       '9th',
       '10th', 
       '11th',
       '12th',
       'HS-grad',
       'Some-college',
       'Bachelors',
       'Masters',
       'Doctorate']
cen['education'] = cen.education.astype("category",categories=edu).cat.codes
cen

,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification
0,10,39,2174.0,White,0,40,Male,0
1,10,50,NaN,White,0,13,Male,0
2,8,38,NaN,White,0,40,Male,0
3,6,53,NaN,Black,0,40,Male,0
4,10,28,0.0,Black,0,40,Female,0
5,11,37,0.0,White,0,40,Female,0
6,4,49,0.0,Black,0,16,Female,0
7,8,52,0.0,White,0,45,Male,1
8,11,31,14084.0,White,0,50,Female,1
9,10,42,5178.0,White,0,40,Male,1
10,9,37,0.0,Black,0,80,Male,1
11,10,30,0.0,Asian-Pac-Islander,0,40,Male,1
12,10,23,0.0,White,0,30,Female,0
13,3,34,0.0,Amer-Indian-Eskimo,0,45,Male,0
14,8,25,0.0,White,0,35,Male,0
15,8,32,0.0,White,0,40,Male,0
16,6,38,0.0,White,0,50,Male,0
17,11,43,0.0,White,0,45,Female,1
18,12,40,0.0,White,0,60,Male,1
19,8,54,0.0,Black,0,20,Female,0
20,4,35,0.0,Black,0,40,Male,0
21,6,43,0.0,White,2042,40,Male,0
22,8,59,0.0,White,0,40,Female,0
23,10,56,0.0,White,0,40,Male,1
24,8,19,0.0,White,0,40,Male,0
25,9,54,0.0,Asian-Pac-Islander,0,60,Male,1
26,8,39,0.0,White,0,80,Male,0
27,8,49,0.0,White,0,40,Male,0
28,9,20,0.0,Black,0,44,Male,0
29,10,45,0.0,White,1408,40,Male,0
...,...,...,...,...,...,...,...,...
29506,8,30,0.0,White,0,55,Male,0
29507,5,32,0.0,White,0,40,Male,0
29508,9,22,0.0,White,0,40,Male,0
29509,8,31,0.0,White,0,40,Female,0
29510,8,29,0.0,White,0,35,Female,0
29511,10,35,0.0,White,0,55,Female,1
29512,10,30,0.0,Asian-Pac-Islander,0,99,Female,0
29513,12,34,0.0,White,0,60,Male,1
29514,10,54,0.0,Asian-Pac-Islander,0,50,Male,1
29515,9,37,0.0,White,0,39,Female,0
29516,7,22,0.0,Black,0,35,Male,0
29517,10,34,0.0,White,0,55,Female,1
29518,8,30,0.0,Black,0,46,Male,0
29519,10,38,15020.0,Black,0,45,Female,1
29520,12,71,0.0,White,0,10,Male,1
29521,8,45,0.0,White,0,40,Female,0
29522,8,41,0.0,Black,0,32,Female,0
29523,8,72,0.0,White,0,25,Male,0
29524,11,31,0.0,Other,0,30,Female,0
29525,8,43,0.0,White,0,40,Male,0
29526,9,43,0.0,White,0,40,Female,0
29527,9,43,0.0,White,0,50,Male,0
29528,5,32,0.0,Amer-Indian-Eskimo,0,40,Male,0
29529,11,32,0.0,Asian-Pac-Islander,0,11,Male,0
29530,11,53,0.0,White,0,40,Male,1
29531,9,22,0.0,White,0,40,Male,0
29532,8,40,0.0,White,0,40,Male,1
29533,8,58,0.0,White,0,40,Female,0
29534,8,22,0.0,White,0,20,Male,0
29535,8,52,15024.0,White,0,40,Female,1

Lastly, print out your dataframe!

In [75]:
# .. your code here ..